/*@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

body {
    
    background-color: #aca9a5;
    /* font-family: 'Peralta', cursive;  dette setter et spesifikk font-face til side */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    

}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    background-color: rgb(102, 88, 71);
    padding: 20px;
    /*position: fixed;
    width: 100%;
    display: block;
    top: 0;
    z-index: 5;*/

}


@media screen and (min-width: 700px) {
    header {
        justify-content: space-between;
    }
}

header ul {
    display: none;
}

@media screen and (min-width: 700px) {
    header ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }
}

.hamburger {
    display: block;
}

@media screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    header {
        display: block;
        background-color: rgb(165, 184, 201);
    }
}

.centered {
    width: 80%;
    margin: 0 auto 0 auto;
}



p {
    background-color: rgb(217, 217, 231);
    color: #ffffff;
}



.first-paragraph {
    background-color:rgb(153, 151, 139);
}

#second-paragraph {
    background-color: rgb(100, 110, 80);
    color: #ffffff;
    width: 600px;
    padding: 20px 10px 100px 60px;
    margin: 0 auto 0 auto;
}

.main-picture {
    width: 1500px;
    /*margin: 0 auto 0 auto;*/
    margin-top: 50;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    justify-content: center;
}












