
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


body{
background-color: rgb(190, 208, 241);
}

        header { 
        background-color: rgb(7, 11, 11);
        
        font-family: 'Montserrat', sans-serif;
        }


 

        


        .first-paragraph { 
         background-color: rgb(159, 165, 171);
        }



        #second-paragraph {
            background-color: blue;
            color: #ffffff;
            width: 600px; 
            height:  50px;
            padding: 20px 10px 30px; 
            margin: 50px 100px 200px 200px
         }

         .box1 {
            width: 33%;
            height: 80px;
            background-color: darkgreen;
            display: inline-block;
        }
        
        .box2 {
            width: 33%;
            height: 80px;
            background-color: darkseagreen;
            display: inline-block;
        }
        
        .box3 {
            width: 33%;
            height: 80px;
            background-color: burlywood;
            display: inline-block;
        }
        

         
         
       
        
